div.about.hidden
    img(src='/img/profile.jpg')
    div.profileContent
        h1 Scent
        button.translate ENGLISH
        span.profileBio 
        div.link_list
            a(href='https://www.instagram.com/scentofficial/',target="_blank") INSTAGRAM
            a(href='') CONTACT
