div.about
    img(src='../img/profile.jpg', alt='profile')
    div.profileContent
        h1 Scent
        //- button.translate ENGLISH
        span.profileBio SCENT는 Afro, Acid, Electronic, Funk를 기반으로 다양한 음악을 선보이는 팀이다. 우리는 간혹 음악을 들을 때면 그 당시의 풍경 혹은 향을 떠올리곤 한다. 'SCENT'라는 이름은 그들의 음악을 듣는 이들에게 그들의 향을 남기고자 하는 음악적인 목표를 제시한다.
        //- span.profileBio SCENT is a team that creates a variety of music based on Afro, Acid, Electronic and Funk. When we listen to music, we sometimes think of the scenery or scent of the moments that we heard the music before. The name SCENT presents the musical goal of leaving their scent to their listeners.
            
        div.link_list
            a(href='https://www.youtube.com/channel/UCaFs3WT1wZWpmHtPue2tf0g',target="_blank") YOUTUBE
            a(href='https://soundcloud.com/scent_official',target="_blank") SOUNDCLOUD
            a(href='https://www.instagram.com/scentofficial/',target="_blank") INSTAGRAM
            a(href="mailto:scentnaeeum@gmail.com") CONTACT
