div.header_container 
    //- a(href='/music') MUSIC 
    //- a(href="https://www.instagram.com/scentofficial/" ,target="_blank") INSTAGRAM 
    i.fas.fa-bars
    img(src='/img/logo_white_final.png')
    i.fas.fa-user 
    //- a(href="mailto:scentnaeeum@gmail.com") CONTACT 
    //- a(href='/about') ABOUT
