div.header_container 
    a(href='/music') MUSIC 
    a(href="https://www.instagram.com/scentofficial/" ,target="_blank") INSTAGRAM 
    a(href="mailto:scentnaeeum@gmail.com") CONTACT 
    a(href='/about') ABOUT
