div.header_container 
    a(href='/music') MUSIC 
    a(href="https://www.instagram.com/scentofficial/" ,target="_blank") INSTAGRAM 
    img(src='/img/logo_white.png')
    a(href="mailto:scentnaeeum@gmail.com") CONTACT 
    a(href='/about') ABOUT
