div.slider.hidden
    div.layout
        div.albumArt
            img(src="./img/2.jpeg")
        div.albumBio
            span.title Thus, We Are
            ol
                li Tunnel (Intro)
                li Once You Are Given, Can Nothing Be Changed
                li Got Me Feelin' Like
                li Numb
                li Exit
                li Polymorph (Outro)
                li Metamorphosis (Bonus Track)

        div.link_container 
            p In Store Now!
            ul
                li 
                    a(href='http://kko.to/wYY4QHYfH',target="_blank") Melon
                li 
                    a(href='http://genie.co.kr/0KADR0',target="_blank") Genie
                li 
                    a(href='https://music.apple.com/us/album/thus-we-are/1579117618',target="_blank") Apple Music
                li 
                    a(href='https://open.spotify.com/album/6pttbS7mY8ASWc9Dnb9IM7?si=8l2fzleqQQerE7eirJuAgw&dl_branch=1',target="_blank") Spotify
                li 
                    a(href='https://music.youtube.com/playlist?list=OLAK5uy_lCwKrgjuYIOYWSo2mmYkfsSJKnshftQkU&feature=share',target="_blank") Youtube Music
                li 
                    a(href='http://naver.me/5Fe7Etlq',target="_blank") Vibe
                li 
                    a(href='https://m.bugs.co.kr/album/20412276',target="_blank") Bugs
                li 
                    a(href='http://flomuz.io/s/a.BFomw',target="_blank") Flo
                li 
                    a(href='http://www.soribada.com/music/album/KE0025610?links=true',target="_blank") Soribada
                li 
                    a(href='https://store.tidal.com/kr/album/192716815',target="_blank") Tidal
                li 
                    a(href='https://music.amazon.com/albums/B09BK7VZY8?marketplaceId=ATVPDKIKX0DER&musicTerritory=US',target="_blank") Amazon Music
                li 
                    a(href='https://www.youtube.com/channel/UCaFs3WT1wZWpmHtPue2tf0g',target="_blank") Youtube
